:root {
  --text-color: #fef9ef;
  --background-color: #121212;
  --accent-color: #90caf9;
  --ring-color: #414141;

  --page-padding: 1.5rem;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', system-ui, sans-serif;
  font-weight: 400;
  font-size: clamp(1rem, 1.5vw, 1.125rem);

  color-scheme: dark;
  color: var(--text-color);
  background-color: var(--background-color);
  accent-color: var(--accent-color);

  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: var(--page-padding);
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin-bottom: 1rem;
	letter-spacing: -0.02rem;
}
:is(h1, h2, h3, h4, h5, h6):first-child {
  margin-top: 0;
}

h1 {
  font-size: 2.986rem;
}

h2 {
  font-size: 2.488rem;
}

h5 {
  font-size: 1.44rem;
}

h6 {
  font-size: 1.2rem;
}

.small-text {
  font-size: .833rem;
}

.low-emphasis {
  color: color-mix(in srgb, var(--text-color) 80%, transparent);
}

/* Layout utilities classes */
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-space-between {
  justify-content: space-between;
}
.flex-justify-center {
  justify-content: center;
}
.flex-align-center {
  align-items: center;
}
